<div class="container panel panel-default">
    <form action="#/invoice" method="post">
    <!-- Top Row -->
    <div class="row">
        <!-- Document Column -->
        <div class="col-12 col-sm-4 col-sm-push-4 col-md-6 col-md-push-3">
            <div class="panel panel-default text-left">
                <h2 class="text-center">Invoice</h2>    <!--{{document.document-type}}-->
                <h2 class="text-center"><small>{{document.document-is-original}}</small></h2>
                <div class="form-group text-left">
                    <label for="documentId" class="aria-label">Number:</label>
                    <input type="text" id="documentId" value="{{document.document-number}}"><br/>
                    <label for="documentDateIssued" class="aria-label">Date Issued:</label>
                    <input type="text" id="documentDateIssued" value="{{document.document-date-issued}}"><br/>
                    <label for="documentDateIssued" class="aria-label">Date Issued:</label>
                    <input type="text" id="documentDateIssued" value="{{document.document-date-issued}}"><br/>
                    <label for="documentDateSale" class="aria-label">Date of Sale/Service:</label>
                    <input type="text" id="documentDateSale" value="{{document.document-date-sale}}"><br/>
                    <label for="documentPlaceSale" class="aria-label">Place of Sale/Service:</label>
                    <input type="text" id="documentPlaceSale" value="{{document.document-place-sale}}"><br/>
                </div>
            </div>
        </div>
        <!-- Issuer Column -->
        <div class="col-12 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-6">
            <div class="well well-lg">
                <div class="form-group">
                    <label for="sellerName" class="aria-label">Seller:</label>
                    <input type="text" id="sellerName" value="{{seller.sellerName}}"><br/>
                    <label for="sellerAddress" class="aria-label">Address:</label>
                    <input type="text" id="sellerAddress" value="{{issuer.issuer-address}}"><br/>
                    <label for="sellerCity" class="aria-label">City:</label>
                    <input type="text" id="sellerCity" value=""><br/>
                    <label for="sellerZip" class="aria-label">ZIP:</label>
                    <input type="text" id="sellerZip" value=""><br/>
                    <label for="sellerIdNumber" class="aria-label">ID Number:</label>
                    <input type="text" id="sellerIdNumber" value=""><br/>
                </div>
            </div>
        </div>
        <!-- Receiver Column -->
        <div class="col-12 col-sm-4 col-md-3">
            <div class="well well-lg">
                <div class="form-group">
                    <label for="buyerName" class="aria-label">Buyer:</label>
                    <input type="text" id="buyerName" value="{{buyer.sellerName}}"><br/>
                    <label for="buyerAddress" class="aria-label">Address:</label>
                    <input type="text" id="buyerAddress" value="{{buyer.issuer-address}}"><br/>
                    <label for="buyerCity" class="aria-label">City:</label>
                    <input type="text" id="buyerCity" value=""><br/>
                    <label for="buyerZip" class="aria-label">ZIP:</label>
                    <input type="text" id="buyerZip" value=""><br/>
                    <label for="buyerIdNumber" class="aria-label">ID Number:</label>
                    <input type="text" id="buyerIdNumber" value=""><br/>
                </div>
            </div>
        </div>
    </div>
    <!-- Items Row -->
    <div class="row">
        <table class="table table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>Item Code</th>
                    <th>Item Description</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="invoice-rows">
                {{#each invoice-item-list}}
                <tr class="invoice-row">
                    <th>{{@index}}</th>
                    <td><input type="text" class="product-id form-control item-cell" value="{{item-id}}" /></td>
                    <td><input type="text" class="product-name form-control item-cell" value="{{item-name}}" /></td>
                    <td><input type="text" class="product-unit form-control item-cell" value="{{item-unit}}" /></td>
                    <td><input type="text" class="product-quantity form-control item-cell" value="{{item-quantity}}" /></td>
                    <td><input type="text" class="product-unit-price form-control item-cell" value="{{item-unit-price}}" /></td>
                    <td><input type="text" class="product-total-price form-control item-cell" value="{{item-total-price}}" /></td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-danger btn-xs" href="#/invoice/addrow">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                {{/each}}
                <!-- Additional Item Row -->
                <tr class="invoice-row">
                    <th></th>
                    <td><input type="text" class="product-id form-control item-cell" value="" /></td>
                    <td><input type="text" class="product-name form-control item-cell" value="" /></td>
                    <td><input type="text" class="product-unit form-control item-cell" value="" /></td>
                    <td><input type="text" class="product-quantity form-control item-cell" value="" /></td>
                    <td><input type="text" class="product-unit-price form-control item-cell" value="" /></td>
                    <td><input type="text" class="product-total-price form-control item-cell" value="" /></td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a id="btn-add-product" class="btn btn-success btn-xs"  href="#/invoice/addrow">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Totals Row -->
    <div class="row">
        <div class="col-12 col-sm-6 pull-right">
            <div class="form-group">
                <label for="inputfield2" class="col-sm-8 control-label">Total Price:</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputfield2" placeholder="0.00">
                        <span class="input-group-addon">BGN</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputfield2" class="col-sm-8 control-label">Tax Base:</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputfield2" placeholder="0.00">
                        <span class="input-group-addon">BGN</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputfield2" class="col-sm-8 control-label">Value Added Tax (VAT)</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputfield2" placeholder="0.00">
                        <span class="input-group-addon">BGN</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputfield2" class="col-sm-8 control-label">Total Due:</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputfield2" placeholder="0.00">
                        <span class="input-group-addon">BGN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Row -->
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <h4 id="issuer" class="well-lg">Created By:</h4>
        </div>
        <!-- Right Column -->
        <div class="col-md-6">
            <h4 id="recipient" class="well-lg">Accepted By:</h4>
        </div>
    </div>
    <div class="row">
        <a type="submit" id="submitInvoice" class="btn btn-lg btn-success pull-right" href="#/api/invoice/post">Submit</a>
    </div>
    </form>
</div>
