<div class="container">
    <div class="row">
        <!-- Document Column -->
        <div class="col-12 col-sm-4 col-sm-push-4 col-md-6 col-md-push-3">
            <span>{{document.document-type}}</span>
            <span>{{document.document-is-original}}</span>
            <span>{{document.document-number}}</span>
            <span>{{document.document-date-issued}}</span>
            <span>{{document.document-date-sale}}</span>
            <span>{{document.document-place-sale}}</span>
        </div>
        <!-- Issuer Column -->
        <div class="col-12 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-6">
            <span>Issuer:</span>
            <span>{{issuer.issuer-name}}</span>
        </div>
        <!-- Receiver Column -->
        <div class="col-12 col-sm-4 col-md-3">
            <span>Receiver:</span>
            <span>{{receiver.receiver-name}}</span>
        </div>
    </div>
</div>
